.label {
  font-family: Arial, Helvetica, sans-serif;
}

.filterTitle {
  margin-bottom: 10px;
}
.input {
  font-size: 16px;
  max-width: 200px;
  padding: 4px;
}

.input:hover,
.input:focus {
  outline: solid 2px rgb(160, 226, 95);
}

.container {
  display: grid;
  /* gap: 16px; */
  margin-left: 20px;
}
